html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	color: #000000;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}


ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

body {
	font-family: 'Cormorant Infant', serif;
	letter-spacing: 0.2px;
}

.container {
	max-width: 1380px;
	margin: 0 auto;
	padding: 0 10px
}

$orange: #E1B168;
$bg-white-color: #FFF8F5;
$dark-color: #292E36;

.wrapper {}

.header {
	color: #fff;
}

.info {
	padding: 50px 0 50px;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.background-dark {
	background-color: $dark-color;
}

.call {
	font-family: Josefin Sans;
	font-size: 22px;
	line-height: 33px;
	min-width: 295px;
}

.btn-transperent {
	display: inline-block;
	text-align: center;
	padding: 20px;
	border: 2px solid $orange;
}

.btn-orange {
	display: inline-block;
	text-align: center;
	background-color: $orange;
	padding: 20px;
}

.reservation-btn {
	min-width: 295px;
	line-height: 33px;
	letter-spacing: 0.44px;
	color: $dark-color;
	font-size: 22px;
	font-family: Josefin Sans;
}

.navbar {
	border-top: 1px solid #5C6168;
	padding: 26px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.text {
	color: #555;
	font-family: Josefin Sans;
	font-size: 20px;
	line-height: 30px;
}

.nav {
	&__list {
		display: flex;
		gap: 60px;

		&-link {
			color: #fff;
		}

		&-link--active {
			color: $orange;
		}
	}
}

.networks {
	&__list {
		display: flex;
		gap: 20px;
	}
}

.welcome {
	padding-top: 70px;
	color: #fff;


	&__inner {
		display: flex;
		align-items: center;
		gap: 80px;
	}

	&__block {
		max-width: 665px;
		padding-right: 40px;
	}

	&__title {
		font-size: 100px;
		line-height: 110px;
		width: 100%;
		margin-bottom: 26px;
	}

	&__text {
		width: 100%;
		margin-bottom: 35px;
		color: #fff;
	}

	&__button {
		font-family: Josefin Sans;
		color: $orange;
		line-height: 33px;
		font-size: 22px;
		min-width: 230px;
		max-width: 500px;
	}

	&__image {
		position: relative;
	}

}

.welcome__img {
	// position: relative;
	// z-index: 5;
}

.welcome__img-img::before {
	content: '';
	height: 775px;
	position: absolute;
	left: -60px;
	top: -30px;
	// border-top: 30px solid #000000;
	border-left: 30px solid rgba(255, 255, 255, 0.10);
}

.welcome__img-img::after {
	content: '';
	height: 775px;
	position: absolute;
	right: -60px;
	top: -30px;
	border-left: 30px solid rgba(255, 255, 255, 0.10);
	// border-top: 30px solid #000000;
}

.welcome__img::before {
	content: '';
	position: absolute;
	left: 255px;
	top: -50px;
	width: 403px;
	height: 403px;
	background: url('..//images/vector.png') top right no-repeat;

}

.welcome__img::after {
	content: '';
	width: 655px;
	position: absolute;
	left: -30px;
	top: -60px;
	border-top: 30px solid rgba(255, 255, 255, 0.10);
}

.information {
	padding: 100px 0 60px;

	&__inner {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 15px;
	}

	&__block {
		display: grid;
		// justify-content: space-between;
		grid-template-columns: 83px 1fr;
		grid-template-rows: repeat(2, 1fr);
		gap: 5px 20px;

		&-icon {
			width: 83px;
			height: 83px;
			border-radius: 100px;
			background-color: $dark-color;
			display: flex;
			align-items: center;
			justify-content: center;
			grid-row: span 3;
		}

		&-name {
			font-size: 30px;
		}
	}
}

.text {}

.title {
	font-family: Cormorant Infant;
	font-size: 40px;
	color: $dark-color;
	line-height: 56px;
}

.story {
	padding: 80px 0 125px;

	&__inner {
		display: flex;
		gap: 45px;
	}

	&__description {

		&-title {
			padding-bottom: 5px;
		}

		&-text {
			padding-bottom: 25px;
		}
	}
}

.story-years {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
	padding-bottom: 15px;

	&__block {
		padding: 20px 27px 5px 0;
	}

	&__year {
		margin-bottom: 15px;
	}
}

.josefine {
	padding-bottom: 20px;
}


.menu {
	padding: 120px 0 140px;

	&__inner {
		display: flex;
		gap: 50px;
	}

	&__info {
		margin-bottom: 12px;
		flex-basis: 500px;
	}

	&-block {
		padding-top: 20px;

		&__title {
			margin-bottom: 13px;
		}

		&__text {
			max-width: 500px;
			margin-bottom: 45px;
		}

		&__image {
			margin-bottom: 60px;
		}

		&__button {
			font-family: Josefin Sans;
			font-size: 22px;
			line-height: 33px;
			color: $orange;
			min-width: 255px;
			max-width: 398px;
		}
	}

	&__dishes {

		&-title {
			font-family: Cormorant Infant;
			font-size: 36px;
			line-height: 50.4px;
			color: $dark-color;
			margin-top: 45px;
			margin-bottom: 40px;
		}

		&-item {
			display: flex;
			align-items: center;
		}
	}
}

.menu__dishes-item+.menu__dishes-item {
	margin-top: 50px;
}

.flex {
	flex-grow: 1;
}

.dish {
	&__image {
		margin-right: 20px;
	}

	&__price {
		color: $dark-color;
		font-size: 30px;
		line-height: 42px;
	}

	&__description {
		flex: 1 1 auto;
		display: flex;
		flex-wrap: wrap;

		&-name {
			color: $dark-color;
			font-size: 30px;
			line-height: 42px;
			width: 100%;
		}

		&-text {
			flex-shrink: 1;
		}

		&-decor {
			margin: 0 10px;
			flex: 1 1 auto;
			height: 2px;
			background-color: #AAA;
			align-self: center;
			// border-bottom: 2px solid #aaa;
		}
	}
}

.with-borders {
	display: inline-block;
	font-family: Josefin Sans;
	font-size: 15px;
	line-height: 22.5px;
	letter-spacing: 3px;
	text-transform: uppercase;
	padding-top: 4px;
	border-top: 1px solid $orange;
	border-bottom: 1px solid $orange;
}

.reviews {
	padding: 140px 0 125px;
	color: #fff;

	&__info {
		margin-bottom: 12px;
	}

	&__title {
		text-transform: capitalize;
		color: #fff;
		margin-bottom: 8px;
	}

	&__text {
		color: #fff;
		margin-bottom: 80px;
	}

	&__review {
		background: #343942;
		padding: 5px 40px;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 80px;
	}

	&__author-name {
		font-size: 30px;
		letter-spacing: 0.2px;
		line-height: 42px;
		padding-left: 30px;
		padding-top: 20px;
	}

	&__author-city {
		color: #E1B168;
		padding-left: 30px;
	}

	&__decor {
		height: 1px;
		background: #797E89;
		width: 100%;
		margin: 30px 0;
	}

	&__feedback {
		font-size: 24px;
		line-height: 37.5px;
		letter-spacing: 0.25px;
	}
}

.swiper-slide {
	max-width: 550px;
}

.swiper-pagination-bullet {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.40);
	opacity: 1;
	margin: 0 10px !important;
}

.swiper-pagination-bullet-active {
	background: #FFF;
}

.background-image {
	img {
		width: 100%;
		height: 100%;
	}
}

.offers {
	padding: 140px 0 120px;
	text-align: center;

	&__info {
		margin-bottom: 12px;
	}

	&__title {
		margin-bottom: 8px;
	}

	&__text {
		margin: 0 auto 40px;
		max-width: 800px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}

	&-item {
		display: flex;
		padding: 65px 40px 45px 40px;
		text-align: left;

		&__price {
			position: relative;
		}

		&__element {
			margin-bottom: 8px;
		}

		&__name {
			margin-bottom: 5px;
		}
	}
}

.svg-1 {
	margin-bottom: 39px;
}

.svg-2 {
	margin-bottom: 39px;
}

.burger {
	background: url('..//images/offer-card-bg-01.jpg') no-repeat center center;
	background-size: cover;
}

.pizza {
	background: url('..//images/offer-card-bg-02.jpg') no-repeat center center;
	background-size: cover;

	&-price,
	&-price span {
		color: #fff;
	}
}

.price-block {
	position: absolute;
	left: 37px;
	top: 7px;
	text-align: center;
}

.price-text {
	display: block;
	font-family: Josefin Sans;
	font-size: 15px;
	color: $dark-color;
	line-height: 10.5px;
	letter-spacing: 0.15px;
	text-transform: uppercase;
}

.price-num {
	font-size: 60px;
	line-height: 66px;
	margin-bottom: 74px;
}

.popular {
	text-align: center;
	padding-bottom: 140px;

	&__info {
		margin-bottom: 12px;
	}

	&__title {
		margin-bottom: 8px;
	}

	&__text {
		max-width: 800px;
		margin: 0 auto 50px;
	}

	&-dishes {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 30px;
		padding-bottom: 40px;
		margin-bottom: 20px;

		&__item {
			display: grid;
			grid-template-rows: 1fr auto auto;
			grid-template-columns: repeat(3, 1fr);
		}

		&__image {
			grid-column: span 4;
		}

		&__name {
			color: $dark-color;
			font-size: 30px;
			line-height: 42px;
			text-align: left;
			grid-row: 2;
			grid-column: span 3;
			padding: 9px 0 10px;
		}

		&__price {
			color: $dark-color;
			font-size: 30px;
			line-height: 42px;
			grid-row: 2;
			padding: 9px 0 10px;
		}

		&__text {
			text-align: left;
			border-top: 1px solid #DCDCDC;
			grid-row: 3;
			grid-column: span 4;
			padding-top: 15px;
		}
	}

	&__button {
		font-family: Josefin Sans;
		color: $orange;
		font-size: 22px;
		line-height: 33px;
		min-width: 295px;
	}
}

.services {
	padding: 140px 0 140px;
	color: #fff;

	&__inner {
		display: flex;
		align-items: center;
		gap: 90px;
	}

	&__block {
		max-width: 450px;
	}

	&__info {
		margin-bottom: 10px;
	}

	&__title {
		color: #fff;
		margin-bottom: 13px;
	}

	&__text {
		color: #fff;
		margin-bottom: 15px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
	}

	&__item {
		border: 20px solid #323841;
		width: 254px;
		height: 235px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&-name {
			font-size: 25px;
			line-height: 35px;
		}
	}
}

.blog {
	padding: 140px 0 100px;
	text-align: center;

	&__info {
		margin-bottom: 11px;
	}

	&__title {
		margin-bottom: 8px;
	}

	&__text {
		max-width: 500px;
		margin: 0 auto 80px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 50px;
	}

	&__desc {
		border: 1px solid #C4C4C4;
		padding: 50px 47px 38px 46px;
	}

	&__item {
		text-align: left;

		&-image {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&-button {
			font-family: Josefin Sans;
			font-size: 22px;
			letter-spacing: 0.44px;
			line-height: 33px;
			width: 230px;
		}

		&-type {
			margin-right: 30px;
		}

		&-name {
			font-size: 30px;
			line-height: 39px;
			margin: 25px 0 24px;
		}

		&-text {
			margin-bottom: 38px;
		}
	}
}

.reservation {
	background: url('..//images/reservation-bg.jpg') no-repeat center center;
	background-size: cover;
	color: #fff;
	height: 100%;
	padding: 140px 0;

	&__block {
		max-width: 920px;
		margin: 0 auto;
		text-align: center;
		background: rgba(41, 46, 54, 0.95);
		padding: 140px 140px 155px 140px;

		&-info {
			margin-bottom: 12px;
		}

		&-title {
			color: #fff;
			margin-bottom: 38px;
		}
	}

	&-form {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 30px 26px;
		margin-bottom: 30px;

		&__input {
			background: transparent;
			padding: 18px 19px 19px 23px;
			border: 1px solid #858585;
			height: 70px;
			font-family: Josefin Sans;
			font-size: 22px;
			color: #fff;
			line-height: 33px;
		}

		&__input::placeholder {
			font-family: Josefin Sans;
			font-size: 22px;
			color: #fff;
			line-height: 33px;
			opacity: 0.5;
		}

		&__button {
			width: 242px;
			height: 68px;
			background: #FFF;
			font-family: Josefin Sans;
			font-size: 22px;
			text-align: center;
			text-transform: capitalize;
			color: #000;
			border: none;
		}
	}
}

.input {
	&-name {
		grid-column: 1/4;
		grid-row: 1;
	}

	&-email {
		grid-column: 4/7;
		grid-row: 1;
	}

	&-persons {
		grid-column: 1/3;
		grid-row: 2;
	}

	&-timing {
		grid-column: 3/5;
		grid-row: 2;
	}

	&-date {
		grid-column: 5/7;
		grid-row: 2;
	}
}

.footer {
	padding: 100px 0 25px 0;
}

.hashtag {
	color: #FFF;
	font-family: Josefin Sans;
	font-size: 22px;
	line-height: 33px;
	letter-spacing: 0.2px;
}

.support {
	color: #fff;
	border-bottom: 1px solid #575B62;
	padding-bottom: 23px;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&-form {

		&__text {
			color: #fff;
			margin: 0 auto 25px auto;
			text-align: center;
			max-width: 300px;
		}

		&__input {
			font-family: Josefin Sans;
			color: #FFF;
			font-size: 22px;
			line-height: 33px;
			padding: 17px 24px 18px 24px;
			background: transparent;
			border: 1px solid #858585;
			height: 68px;
			min-width: 450px;
		}

		&__btn {
			padding: 17px 40px 18px 40px;
			background: #FFF;
			color: #000;
			text-align: center;
			font-family: Josefin Sans;
			font-size: 22px;
			line-height: 33px;
			border: none;
			width: 208px;
			height: 68px;
		}
	}
}

.contacts {
	&__info {
		margin-top: 75px;
		margin-bottom: 32px;
	}

	&__adress {
		color: #fff;
	}

	&__tel {
		font-size: 19px;
		color: $orange;
	}

	&__mail {
		color: $orange;
	}
}

.working-hours {
	text-align: right;

	&__info {
		margin-bottom: 30px;
	}

	&__list-item {
		color: #fff;

		span {
			color: $orange;
		}
	}

	&__list-item+&__list-item {
		margin-top: 5px;
	}
}

.copy {
	padding-top: 26px;

	&__inner {
		display: flex;
		justify-content: space-between;
	}
}

.orange {
	color: $orange !important;
}

.copy-nav {
	&__list {
		display: flex;
		gap: 20px;
	}

	&__list-item {
		color: #fff;
	}

}

.copy-nav__list {}

.copy-nav__list-item {}


.reviews__author {}

.reviews__photo-decor {}